{% extends "base.html" %} {% block title %}Budgify | {{ budget.name }} {%
endblock %} {% block content %}

<h2>{{ budget.name|title }}</h2>

{% with messages = get_flashed_messages() %} {% if messages %}
<ul class="flashes">
  {% for message in messages %}
  <li class="text-center text-primary fw-medium p-0">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith %}

<!-- Budget Management Section -->
<section>
  <div class="card col-12 col-md-8 mx-auto my-3">
    <div class="card-body">
      <h5 class="card-title">Budget Management</h5>
      <p class="card-text">
        Make changes to your budget with ease using the buttons below. You can
        add a new transaction, update your budget's name, or remove the budget
        entirely. You can also edit or delete any of the transactions below by
        clicking on them.
      </p>
      <div class="text-center">
        <a
          href="#"
          class="btn btn-success mb-2"
          data-bs-toggle="modal"
          data-bs-target="#add-transaction-{{ budget.id }}"
          >Add Transaction</a
        >
        <a
          href="#"
          class="btn btn-primary mb-2"
          data-bs-toggle="modal"
          data-bs-target="#rename-budget-{{ budget.id }}"
          >Rename Budget</a
        >
        <a
          href="#"
          class="btn btn-danger mb-2"
          data-bs-toggle="modal"
          data-bs-target="#delete-budget-{{ budget.id }}"
          >Delete Budget</a
        >
      </div>
    </div>
  </div>
</section>

<!-- Budget Table Section -->
<section class="col-12 col-md-8 mx-auto">
  <table class="table table-hover">
    <!-- Income Section -->
    <thead>
      <tr>
        <th class="section-head" colspan="3">Income</th>
      </tr>
    </thead>
    <thead class="table-group-divider">
      <tr>
        <th>Description</th>
        <th>Amount</th>
        <th>Day</th>
      </tr>
    </thead>
    <tbody>
      {% set income_transactions = transactions|selectattr('type_id', 'equalto', 1)|list %}
      {% if income_transactions %}
        {% for transaction in income_transactions %}
          <tr class="transaction-row" data-bs-toggle="modal"
          data-bs-target="#edit-transaction-{{ transaction.id }}">
            <td>{{ transaction.description }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.day_of_month }}</td>
          </tr>
          {% include 'edit_transaction_modal.html' %}
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="3">Nothing to see here, try adding a transaction</td>
        </tr>
      {% endif %}
    </tbody>
    <!-- Mortgage or Rent Section -->
    <thead>
      <tr>
        <th class="section-head" colspan="3">Mortgage or Rent</th>
      </tr>
    </thead>
    <thead class="table-group-divider">
      <tr>
        <th>Description</th>
        <th>Amount</th>
        <th>Day</th>
      </tr>
    </thead>
    <tbody>
      {% set mortgage_transactions = transactions|selectattr('type_id', 'equalto', 2)|list %}
      {% if mortgage_transactions %}
        {% for transaction in mortgage_transactions %}
        <tr class="transaction-row" data-bs-toggle="modal"
        data-bs-target="#edit-transaction-{{ transaction.id }}">
          <td>{{ transaction.description }}</td>
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.day_of_month }}</td>
        </tr>
        {% include 'edit_transaction_modal.html' %}
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="3">Nothing to see here, try adding a transaction</td>
        </tr>
      {% endif %}
    </tbody>
    <!-- Utilities & Council Tax -->
    <thead>
      <tr>
        <th class="section-head" colspan="3">
          Utilities & Council Tax (gas, electric etc.)
        </th>
      </tr>
    </thead>
    <thead class="table-group-divider">
      <tr>
        <th>Description</th>
        <th>Amount</th>
        <th>Day</th>
      </tr>
    </thead>
    <tbody>
      {% set utilities_transactions = transactions|selectattr('type_id', 'equalto', 3)|list %}
      {% if utilities_transactions %}
        {% for transaction in utilities_transactions %}
        <tr class="transaction-row" data-bs-toggle="modal"
        data-bs-target="#edit-transaction-{{ transaction.id }}">
          <td>{{ transaction.description }}</td>
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.day_of_month }}</td>
        </tr>
        {% include 'edit_transaction_modal.html' %}
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="3">Nothing to see here, try adding a transaction</td>
        </tr>
      {% endif %}
    </tbody>
    <!-- Transport Section -->
    <thead>
      <tr>
        <th class="section-head" colspan="3">
          Transport (fuel, road tax, bus fares etc.)
        </th>
      </tr>
    </thead>
    <thead class="table-group-divider">
      <tr>
        <th>Description</th>
        <th>Amount</th>
        <th>Day</th>
      </tr>
    </thead>
    <tbody>
      {% set transport_transactions = transactions|selectattr('type_id', 'equalto', 4)|list %}
      {% if transport_transactions %}
        {% for transaction in transport_transactions %}
        <tr class="transaction-row" data-bs-toggle="modal"
        data-bs-target="#edit-transaction-{{ transaction.id }}">
          <td>{{ transaction.description }}</td>
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.day_of_month }}</td>
        </tr>
        {% include 'edit_transaction_modal.html' %}
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="3">Nothing to see here, try adding a transaction</td>
        </tr>
      {% endif %}
    </tbody>
    <!-- Unsecured Debt Section -->
    <thead>
      <tr>
        <th class="section-head" colspan="3">
          Unsecured Debt (loans, credit cards, overdrafts etc.)
        </th>
      </tr>
    </thead>
    <thead class="table-group-divider">
      <tr>
        <th>Description</th>
        <th>Amount</th>
        <th>Day</th>
      </tr>
    </thead>
    <tbody>
      {% set unsecured_transactions = transactions|selectattr('type_id', 'equalto', 5)|list %}
      {% if unsecured_transactions %}
        {% for transaction in unsecured_transactions %}
        <tr class="transaction-row" data-bs-toggle="modal"
        data-bs-target="#edit-transaction-{{ transaction.id }}">
          <td>{{ transaction.description }}</td>
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.day_of_month }}</td>
        </tr>
        {% include 'edit_transaction_modal.html' %}
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="3">Nothing to see here, try adding a transaction</td>
        </tr>
      {% endif %}
    </tbody>
    <!-- Communications Section -->
    <thead>
      <tr>
        <th class="section-head" colspan="3">
          Communications (telephone, broadband etc.)
        </th>
      </tr>
    </thead>
    <thead class="table-group-divider">
      <tr>
        <th>Description</th>
        <th>Amount</th>
        <th>Day</th>
      </tr>
    </thead>
    <tbody>
      {% set communications_transactions = transactions|selectattr('type_id', 'equalto', 6)|list %}
      {% if communications_transactions %}
        {% for transaction in communications_transactions %}
        <tr class="transaction-row" data-bs-toggle="modal"
        data-bs-target="#edit-transaction-{{ transaction.id }}">
          <td>{{ transaction.description }}</td>
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.day_of_month }}</td>
        </tr>
        {% include 'edit_transaction_modal.html' %}
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="3">Nothing to see here, try adding a transaction</td>
        </tr>
      {% endif %}
    </tbody>
    <!-- Insurance Section -->
    <thead>
      <tr>
        <th class="section-head" colspan="3">
          Insurances (home, life, gadget cover etc.)
        </th>
      </tr>
    </thead>
    <thead class="table-group-divider">
      <tr>
        <th>Description</th>
        <th>Amount</th>
        <th>Day</th>
      </tr>
    </thead>
    <tbody>
      {% set insurance_transactions = transactions|selectattr('type_id', 'equalto', 7)|list %}
      {% if insurance_transactions %}
        {% for transaction in insurance_transactions %}
        <tr class="transaction-row" data-bs-toggle="modal"
        data-bs-target="#edit-transaction-{{ transaction.id }}">
          <td>{{ transaction.description }}</td>
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.day_of_month }}</td>
        </tr>
        {% include 'edit_transaction_modal.html' %}
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="3">Nothing to see here, try adding a transaction</td>
        </tr>
      {% endif %}
    </tbody>
    <!-- Childcare Section -->
    <thead>
      <tr>
        <th class="section-head" colspan="3">Childcare & School Fees</th>
      </tr>
    </thead>
    <thead class="table-group-divider">
      <tr>
        <th>Description</th>
        <th>Amount</th>
        <th>Day</th>
      </tr>
    </thead>
    <tbody>
      {% set childcare_transactions = transactions|selectattr('type_id', 'equalto', 8)|list %}
      {% if childcare_transactions %}
        {% for transaction in childcare_transactions %}
        <tr class="transaction-row" data-bs-toggle="modal"
        data-bs-target="#edit-transaction-{{ transaction.id }}">
          <td>{{ transaction.description }}</td>
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.day_of_month }}</td>
        </tr>
        {% include 'edit_transaction_modal.html' %}
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="3">Nothing to see here, try adding a transaction</td>
        </tr>
      {% endif %}
    </tbody>
    <!-- Shopping Section -->
    <thead>
      <tr>
        <th class="section-head" colspan="3">Shopping</th>
      </tr>
    </thead>
    <thead class="table-group-divider">
      <tr>
        <th>Description</th>
        <th>Amount</th>
        <th>Day</th>
      </tr>
    </thead>
    <tbody>
      {% set shopping_transactions = transactions|selectattr('type_id', 'equalto', 9)|list %}
      {% if shopping_transactions %}
        {% for transaction in shopping_transactions %}
        <tr class="transaction-row" data-bs-toggle="modal"
        data-bs-target="#edit-transaction-{{ transaction.id }}">
          <td>{{ transaction.description }}</td>
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.day_of_month }}</td>
        </tr>
        {% include 'edit_transaction_modal.html' %}
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="3">Nothing to see here, try adding a transaction</td>
        </tr>
      {% endif %}
    </tbody>
    <!-- Savings Section -->
    <thead>
      <tr>
        <th class="section-head" colspan="3">
          Savings & Investments (cash, pensions, ISAs etc.)
        </th>
      </tr>
    </thead>
    <thead class="table-group-divider">
      <tr>
        <th>Description</th>
        <th>Amount</th>
        <th>Day</th>
      </tr>
    </thead>
    <tbody>
      {% set savings_transactions = transactions|selectattr('type_id', 'equalto', 10)|list %}
      {% if savings_transactions %}
        {% for transaction in savings_transactions %}
        <tr class="transaction-row" data-bs-toggle="modal"
        data-bs-target="#edit-transaction-{{ transaction.id }}">
          <td>{{ transaction.description }}</td>
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.day_of_month }}</td>
        </tr>
        {% include 'edit_transaction_modal.html' %}
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="3">Nothing to see here, try adding a transaction</td>
        </tr>
      {% endif %}
    </tbody>
    <!-- Other Section -->
    <thead>
      <tr>
        <th class="section-head" colspan="3">
          Other (hobbies, entertainment, holidays etc.)
        </th>
      </tr>
    </thead>
    <thead class="table-group-divider">
      <tr>
        <th>Description</th>
        <th>Amount</th>
        <th>Day</th>
      </tr>
    </thead>
    <tbody>
      {% set other_transactions = transactions|selectattr('type_id', 'equalto', 11)|list %}
      {% if other_transactions %}
        {% for transaction in other_transactions %}
        <tr class="transaction-row" data-bs-toggle="modal"
        data-bs-target="#edit-transaction-{{ transaction.id }}">
          <td>{{ transaction.description }}</td>
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.day_of_month }}</td>
        </tr>
        {% include 'edit_transaction_modal.html' %}
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="3">Nothing to see here, try adding a transaction</td>
        </tr>
      {% endif %}
    </tbody>
    <!-- Totals Section -->
    <thead>
      <tr>
        <th class="section-head" colspan="3">Totals</th>
      </tr>
    </thead>
    <thead class="table-group-divider">
      <tr>
        <th>Total In</th>
        <th>Total Out</th>
        <th>Difference</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
</section>

<!-- Modals -->
<!-- Rename Budget Modal -->
<div
  class="modal fade"
  id="rename-budget-{{ budget.id }}"
  tabindex="-1"
  aria-labelledby="rename-budget-modal-label"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5 mx-auto" id="rename-budget-modal-label">
          Choose a new name for your budget...
        </h2>
      </div>
      <div class="modal-body text-center">
        <form
          method="POST"
          action="{{ url_for('rename_budget', username=session.user, budget_id=budget.id) }}">
          <input
            name="budget_name"
            id="budget_name"
            type="text"
            class="validate form-control"
            minlength="1"
            maxlength="50"
            required />
          <div id="budget-name-help" class="form-text text-start mb-3">
            Maximum of 50 characters.
          </div>
          <button type="submit" class="btn btn-primary add-budget-btn mb-2">
            Rename Budget
          </button>
          <button
            type="button"
            class="btn btn-secondary add-budget-btn mb-2"
            data-bs-dismiss="modal">
            Cancel
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Budget Modal -->
<div
  class="modal fade"
  id="delete-budget-{{ budget.id }}"
  tabindex="-1"
  aria-labelledby="delete-budget-modal-label"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2
          class="modal-title fs-5 mx-auto text-danger"
          id="delete-budget-modal-label">
          Warning!
        </h2>
      </div>
      <div class="modal-body text-center">
        <p>
          Are you sure you want to delete this budget and ALL associated
          transactions?
        </p>
        <form
          method="POST"
          action="{{ url_for('delete_budget', username=session.user, budget_id=budget.id) }}">
          <button
            type="button"
            class="btn btn-primary add-budget-btn mb-2"
            data-bs-dismiss="modal">
            No! Take me back!
          </button>
          <button type="submit" class="btn btn-danger add-budget-btn mb-2">
            Yes, delete it!
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Add Transaction Modal -->
<div
  class="modal fade"
  id="add-transaction-{{ budget.id }}"
  tabindex="-1"
  aria-labelledby="add-transaction-modal-label"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5 mx-auto" id="add-transaction-modal-label">
          Add a transaction to your budget...
        </h2>
      </div>
      <div class="modal-body text-center">
        <form method="POST" action="{{ url_for('add_transaction', username=session.user, budget_id=budget.id) }}">
          <!-- Transaction Type -->
          <label for="transaction_type" class="form-label d-flex mb-1"
            >Type</label
          >
          <select
            name="transaction_type"
            id="transaction_type"
            class="form-select mb-3"
            required>
            <option value="" disabled selected>Choose transaction type</option>
            {% for transaction_type in transaction_types %}
            <option value="{{ transaction_type.id }}">
              {{ transaction_type.name }}
            </option>
            {% endfor %}
          </select>
          <!-- Transaction Description -->
          <label for="transaction_description" class="form-label d-flex mb-1"
            >Description</label
          >
          <input
            name="transaction_description"
            id="transaction_description"
            type="text"
            class="form-control mb-3"
            minlength="4"
            maxlength="50"
            required />
          <!-- Transaction Amount -->
          <label for="transaction_amount" class="form-label d-flex mb-1"
            >Amount</label
          >
          <div class="input-group mb-3">
            <span class="input-group-text" id="currency-addon">£</span>
            <input
              name="transaction_amount"
              id="transaction_amount"
              type="number"
              class="form-control"
              min="0"
              max="999999"
              step="0.01"
              required />
          </div>
          <!-- Transaction Day -->
          <label for="transaction_day" class="form-label d-flex mb-1"
            >Day of the month</label
          >
          <input
            name="transaction_day"
            id="transaction_day"
            type="number"
            class="form-control mb-3"
            min="1"
            max="31"
            required />
          <button type="submit" class="btn btn-primary add-budget-btn mb-2">
            Add Transaction
          </button>
          <button
            type="button"
            class="btn btn-secondary add-budget-btn mb-2"
            data-bs-dismiss="modal">
            Cancel
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
