{% extends "base.html" %} {% block content %}

<section>
  <div class="container-fluid row m-0">
    <div class="col-12 col-md-7">
      <div class="row">
        <img
          id="welcome-logo"
          class="mx-auto mt-5"
          src="{{ url_for('static', filename='images/logo.webp') }}"
          alt="Budgify Logo" />
      </div>
      <div class="row py-5">
        <p id="tag-line" class="mx-auto fw-medium fst-italic">
          A simple, yet powerful budgeting app. Create as many budgets as you
          like for the changing months, seasons and life events, and get
          insights into your spending.
        </p>
        <a href="" class="btn btn-primary w-50 mx-auto">Log In</a>
        <span class="mx-auto w-75 text-center">Or</span>
        <a href="" class="btn btn-success w-50 mx-auto">Sign Up Free</a>
      </div>
    </div>
    <div class="col-12 col-md-5 text-center">
      <img
        id="welcome-image"
        src="{{ url_for('static', filename='images/placeholder.PNG') }}"
        alt="placeholder" />
    </div>
  </div>
</section>

{% endblock %}
