/*** GLOBAL STYLING ***/
/* Color Variables */
:root {
  --primary-color: rgba(0, 0, 0, 0.65);
  --primary-color-light: rgba(0, 0, 0, 0.45);
  --secondary-color: #0d6efd;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

body {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content-container {
  min-height: calc(100vh - 8rem);
  padding-top: 6rem;
  padding-bottom: 1rem;
}

/* Buttons */
.btn {
  width: 10rem;
}

/* Forms */
.form-card {
  color: var(--primary-color);
  box-shadow: 2px 2px 5px var(--shadow-color);
  border-radius: 6px;
  padding: 1rem;
}

.form-text {
  font-size: 0.7rem;
}

/* Flash Messages */
.flashes {
  list-style: none;
  padding-left: 0;
}

/* Navbar */
.logo {
  height: 3.5rem;
}

.no-nav-logo {
  height: 4.5rem;
}

nav {
  height: 5rem;
  box-shadow: 2px 2px 5px var(--shadow-color);
}

.nav-item {
  padding: 0 1rem;
  font-weight: bold;
  color: var(--primary-color);
}

nav .nav-item a:hover {
  color: var(--secondary-color);
}

.dropdown-item {
  font-weight: 450;
}

#no-nav {
  box-shadow: none;
}

/* Footer */
footer {
  height: 8rem;
}

.disclaimer {
  font-size: 10px;
}

.socials-container {
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
}

footer ul {
  padding-left: 0;
}

.socials {
  color: var(--secondary-color);
  list-style: none;
  display: inline-block;
  font-size: 1.25rem;
  padding: 0 0.8rem;
  transition: transform 0.3s ease-in-out;
}

.socials:hover {
  transform: translateY(-3px);
}

h2 {
  color: var(--secondary-color);
  text-align: center;
}

.support-message {
  color: var(--primary-color);
  font-weight: bold;
}

/*** 404 PAGE ***/
.not-found-message {
  color: var(--primary-color);
  font-size: 1.25rem;
  font-weight: bold;
}

#image-for-404 {
  max-height: 50vh;
  max-width: 90vw;
}

/*** WELCOME PAGE ***/
#welcome-image {
  max-width: 100%;
  max-height: 60vh;
  padding: 0;
}

#welcome-logo {
  height: 8rem;
  width: auto;
}

.welcome-text {
  color: var(--primary-color);
  font-weight: 500;
  max-width: 80%;
}

/*** MY BUDGETS PAGE ***/
.add-budget-card {
  color: var(--primary-color-light);
  font-weight: bold;
  font-size: 3rem;
  border-radius: 6px;
  border-style: dashed;
  width: 8rem;
  height: 12rem;
}

.budget-card {
  color: var(--primary-color-light);
  font-weight: bold;
  font-size: 3rem;
  border-radius: 6px;
  border-style: solid;
  width: 8rem;
  height: 12rem;
  box-shadow: 2px 2px 5px var(--shadow-color);
}

.budget-card:hover {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.add-budget-card:hover {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.card-container {
  width: -moz-fit-content;
  width: fit-content;
}

/*** BUDGET PAGE ***/
.section-head {
  font-size: 1rem;
}

th,
td {
  font-size: 0.85rem;
}

.table-group-divider {
  color: var(--secondary-color);
}

.transaction-row:hover {
  cursor: pointer;
}

.card-headers {
  color: var(--primary-color);
  text-decoration: underline 3px var(--secondary-color);
}

/* Charts */
.chart-container {
  max-height: 80vh;
}

.bar-chart {
  min-height: 25vh;
}

.key-card {
  padding: 1rem;
  border-radius: 0.375rem;
  border: 1px solid rgba(0, 0, 0, 0.176);
}

.key-block {
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  background-color: red;
  padding: 0.5rem;
  margin: 0.4rem 0;
  border-radius: 0.375rem;
}

.key-block-inner {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25rem 0.35rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: 500;
  font-size: 0.75rem;
  border-radius: 0.375rem;
}

/* Chart Colours */
.mortgage-color {
  background-color: #54a1e9;
}

.utilities-color {
  background-color: #e851e3;
}

.transport-color {
  background-color: #f5dd05;
}

.unsecured-color {
  background-color: #0000ff;
}

.comms-color {
  background-color: #187002;
}

.insurance-color {
  background-color: #00ff00;
}

.childcare-color {
  background-color: #acb52b;
}

.shopping-color {
  background-color: #7308a5;
}

.savings-color {
  background-color: #ff0000;
}

.other-color {
  background-color: #00aeae;
}

.disposable-color {
  background-color: #fc7b3f;
}


/*** MEDIA QUERIES ***/
/* Navbar */
@media screen and (min-width: 992px) {
  .navbar-brand {
    position: absolute;
    padding-left: 5rem;
    display: block;
  }
}

@media screen and (max-width: 992px) {
  .navbar-toggler {
    position: absolute;
    left: 0;
    margin-left: 20px;
    display: block;
  }
}

/* Profile Page */
@media screen and (min-width: 992px) {
  .change-password-form {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .change-password-form {
    width: 70%;
  }
}